<!DOCTYPE html>
<html>
<head>
    <title>LiveLens Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .chart-box{
        width: 400px;
        height: 300px;
        margin: 20px auto;
    }
</style>
</head>
<body>

<h1>LiveLens Dashboard</h1>

<h3>Real-Time Analytics</h3>

<ul>
    <li>Total Products: <b id="products">{{ product_count }}</b></li>
    <li>Total Offers: <b id="offers">{{ offer_count }}</b></li>
    <li>Total Messages: <b id="messages">{{ message_count }}</b></li>
</ul>

<hr>

<h3>Products vs Offers</h3>
<div class="chart-box">
  <canvas id="barChart"></canvas>
</div>
<h3>Offers Status</h3>
<div class="chart-box">
  <canvas id="pieChart"></canvas>
</div>
<script>
    const barCtx = document.getElementById('barChart');
    new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: ['Products', 'Offers'],
            datasets: [{
                label: 'Count',
                data: [{{ product_count }}, {{ offer_count }}],
                backgroundColor:['#4CAF50','#2196F3']
            }]
        },
        options:{
            responsive: true,
            maintainAspectRatio: false
        }
    });

    const pieCtx = document.getElementById('pieChart');
    new Chart(pieCtx, {
        type: 'pie',
        data: {
            labels: ['Active Offers', 'Inactive Offers'],
            datasets: [{
                data: [{{ active_offers }}, {{ inactive_offers }}],
                backgroundColor:['#OOBCD4','#FF5722']
            }]
        },
        options:{
            responsive: true,
            maintainAspectRatio: false
        }
    });

</script>

</body>
</html>